<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crete+Round"
          rel="stylesheet">
        <meta charset="UTF-8">
        <title>LITReview</title>
    </head>

    <body>

    <header>
      <div class="wrapper">
        <section id="header_box">
            <h1>LITReview<span class="orange">.</span></h1>
            <nav>
                <ul>
                    <li><a href="flux.html">Flux</a></li>
                    <li><a href="post.html">Posts</a> </li>
                    <li><a href="subscribe.html">Abonnements</a> </li>
                    <li><a href="index.html">Se déconnecter</a> </li>
                </ul>
            </nav>
        </section>
      </div>
    </header>

    <section id="flux_box">

        <section id="flux_button">
            <a href="ticket.html">
                <input type="button" value="Demander une critique"></a>
            <a href="create_critical.html">
                <input type="button" value="Créer une critique"></a>
        </section>

        <section id="your_critical_box">

        </section>

        <section id="critical_asked_box">

        </section>

        <section id="critical_blocked_box">

        </section>

        <section id="review_box">

        </section>

    </section>

    </body>
</html>