<!DOCTYPE html>
<html lang="fr">

    <head>
        <link href="styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crete+Round"
          rel="stylesheet">
        <meta charset="UTF-8">
        <title>LITReview</title>
    </head>

    <body>

        <header>
        <div class="wrapper">
            <h1>LITReview<span class="orange">.</span></h1>
        </div>
        </header>

        <section id="box">
            <section id="registration">
                <p>Inscrivez-vous</p>
                <input type="text" placeholder="Nom d'utilisateur"><br/>
                <input type="text" placeholder="Mot de passe"><br/>
                <input type="text" placeholder="Confirmer mot de passe"><br/>
                <a href=""><input type="button" value="Retourner"></a>
                <a href=""><input type="button" value="S'inscrire"></a>
            </section>
        </section>
    </body>
</html>