<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crete+Round"
          rel="stylesheet">
        <meta charset="UTF-8">
        <title>LITReview</title>
    </head>

    <body>

    <header>
      <div class="wrapper">
        <section id="header_box">
            <h1>LITReview<span class="orange">.</span></h1>
            <nav>
                <ul>
                    <li><a href="flux.html">Flux</a></li>
                    <li><a href="post.html">Posts</a> </li>
                    <li><a href="subscribe.html">Abonnements</a> </li>
                    <li><a href="index.html">Se déconnecter</a> </li>
                </ul>
            </nav>
        </section>
      </div>
    </header>

    <section id="create_critical_box">
        <h2>créer une critique</h2>

        <section id="library_box">

            <h4>Vous êtes en train de poster en réponse à</h4>
            <section id="respond_box">

            </section>

        </section>

        <section id="critical_box">

            <h4>critique</h4>
            <p>Titre</p>
            <input type="text" id="critical_name"><br/>
            <p>Note</p>
            <section id="checkbox">
                <input type="checkbox" id="0">
                <label for="0">0</label>
                <input type="checkbox" id="1">
                <label for="1">1</label>
                <input type="checkbox" id="2">
                <label for="0">2</label>
                <input type="checkbox" id="3">
                <label for="0">3</label>
                <input type="checkbox" id="4">
                <label for="0">4</label>
                <input type="checkbox" id="5">
                <label for="0">5</label>
            </section>
            <p>Description</p>
            <input type="text" id="critical_commantary"><br/>
            <a id="send"><input type="button" value="Envoyer"></a>

        </section>

    </section>

    </body>
</html>