{% extends "header.html" %}

{% block body %}

    <div style="border: 1px solid grey; margin: 50px 450px 50px 450px; text-align: center">
        <h2>Créer une critique</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div>
                <div>
                    <h2>Titre :</h2>
                    {{ form_ticket.title }}
                    <h2>Description :</h2>
                    {{ form_ticket.description }}
                    <br>
                    {{ form_ticket.image }}
                    {{ form_ticket.user.as_hidden }}
                </div>
            </div>

            <hr>
            <div>
                <h2>Critique</h2>
                <div>
                    <h2>Titre :</h2>
                    {{ form_review.headline }}
                    <h2>Note :</h2>
                    {{ form_review.rating }}
                    <h2>Commentaire :</h2>
                    {{ form_review.body }}
                    {{ form_review.user.as_hidden }}
                </div>
            </div>
            <button style="color: white; background: #ff7a00; border-radius: 5px; width: 200px; height: 40px; font-size: 20px; margin-bottom: 10px; margin-top: 10px">Envoyer</button>
        </form>
    </div>
{% endblock %}