{% extends "header.html" %}

{% block body %}
    <section id="flux">
        <div style="text-align: center">

            <a href={% url 'create_ticket' %}>
                <button>Demander une critique</button></a>
            <a href={% url 'create_review' %}>
                <button>Créer une critique</button></a>


            {% for ticket in tickets %}
                {% if ticket.review.exists %}
                {% else %}
                    <div style="border: 1px solid grey; margin: 50px 450px 50px 450px; text-align: center">
                        <p style="font-weight: bold">Vous avez publié un ticket :</p>
                        <p>{{ ticket.title }}</p>
                        <p>{{ ticket.description }}</p>
                        <img src="{{ ticket.image.url }}"
                             widht="300px" height="300px"><br>
                        <p>{{ ticket.time_created }}</p>
                        {% if ticket.review.exists %}
                        {% else %}
                            <a href={% url 'reply' id=ticket.id %}>
                                <button style="margin-top: 10px; margin-bottom: 10px">
                                    Répondre à un ticket
                                </button>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
                {% empty %}
                    <article>
                        <p>Il n'y a aucun ticket ou aucune review à
                            afficher ici !</p>
                        <p>Commencez par suivre des personnes ou créer
                            un ticket ou une critique.</p>
                    </article>
            {% endfor %}

            {% for review in reviews %}
                <div style="border: 1px solid grey; margin: 50px 450px 50px 450px; text-align: center">
                    <p style="font-weight: bold">Vous avez publié une critique :</p>
                    <p>{{ review.headline }} - {{ review.rating }}/5</p>
                    <p>{{ review.body }}</p>
                    <p>{{ review.time_created }}</p>
                    <div style="border: 1px solid grey">
                        <p style="font-weight: bold">Ticket de {{ review.ticket.user }} :</p>
                        <p>{{ review.ticket.title }}</p>
                        <p>{{ review.ticket.description }}</p>
                        <img src="{{ review.ticket.image.url }}"
                             widht="300px" height="300px"><br>
                        <p>{{ review.ticket.time_created }}</p>
                    </div>
                </div>
                <hr>
            {% endfor %}

        </div>
    </section>
{% endblock %}
