{% extends "header.html" %}

{% block body %}
    {% if user is authenticated %}
        {% url 'feed' %}
    {% endif %}

    <section id="index_registration">
        <h2>Inscrivez-vous maintenant</h2>
        <a href="{% url 'register' %}"><button>S'inscrire</button></a>
    </section>

    <section id="index_connection" style="margin-top: 150px">
        <h2>Connectez vous</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input name="username" class="form-control"
                       placeholder="Nom d'utilisateur">
                <input name="password" type="password" class="form-control"
                       placeholder="Mot de Passe">
                <button style="margin-right: 150px">Se connecter</button>
            </div>
        </form>
    </section>

{% endblock %}
