{% extends "header.html" %}

{% block body %}

<section style="text-align: center">
    <h1 style="margin-top: 50px; font-size: 40px">Vos posts</h1>

    <div style="border: 1px solid grey; margin: 50px 450px 50px 450px; text-align: center">

        {% for ticket in tickets %}
            <div>
                <p style="font-weight: bold">Vous avez publié un ticket</p>
                <p><span style="font-weight: bold">Titre</span> : {{ ticket.title }}</p>
                <p><span style="font-weight: bold">description</span>
                    : {{ ticket.description }}</p>
                <img src="{{ ticket.image.url }}"
                     widht="300px" height="300px"><br>
                <p>{{ ticket.time_created }}</p>
                <a href={% url 'update_ticket' ticket_id=ticket.id %}>
                    <button style="color: white; background: #ff7a00; border-radius: 5px; width: 200px; height: 40px; font-size: 20px">Modifier le ticket</button></a>
                <a href="{% url 'delete_ticket' ticket_id=ticket.id %}">
                    <button style="color: white; background: #ff7a00; border-radius: 5px; width: 200px; height: 40px; font-size: 20px">Supprimer le ticket</button></a>
                </a>
            </div>
            <hr>
            {% empty %}
                    <article>
                        <p>Il n'y a aucun ticket ou aucune review à afficher
                            ici !</p>
                        <p>Commencez par suivre des personnes ou créer un
                            ticket ou une critique.</p>
                    </article>
        {% endfor %}

        {% for review in reviews %}
            <div style="border: 1px solid grey;">
                <p style="font-weight: bold">Vous avez publié une critique</p>
                <p><span style="font-weight: bold">Titre</span> : {{ review.headline }}</p>
                <p><span style="font-weight: bold">description</span> : {{ review.body }}</p>
                <p><span style="font-weight: bold">Note</span> : {{ review.rating }}/5</p>
                {{ review.time_created }}
                <div style="border: 1px solid grey; margin-top: 30px">
                    <p style="font-weight: bold">Votre ticket :</p>
                    <p><span style="font-weight: bold">Titre</span>
                        : {{ review.ticket.title }}</p>
                    <p><span style="font-weight: bold">description</span>
                        : {{ review.ticket.description }}</p>
                    <img src="{{ review.ticket.image.url }}"
                         widht="300px" height="300px"><br>
                    <p>{{ review.ticket.time_created }}</p>
                <a href={% url 'update_review' review_id=review.id %}>
                    <button style="color: white; background: #ff7a00; border-radius: 5px; width: 200px; height: 40px; font-size: 20px; margin-bottom: 10px">Modifier la critique</button></a>
                <a href="{% url 'delete_review' review_id=review.id %}">
                    <button style="color: white; background: #ff7a00; border-radius: 5px; width: 200px; height: 40px; font-size: 20px">Supprimer la critique</button></a>
                </a>
                </div>
            </div>
        {% endfor %}

    </div>
</section>
{% endblock %}