{% extends "header.html" %}

{% block body %}
    <section id="registration">
        <h1>Inscrivez-vous</h1>
        <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input name="username" placeholder="Nom d'utilisateur"
                   class="form-control"><br>
            <input name="email" type="email" placeholder="Email"
                   class="form-control"><br>
            <input name="password" type="password" placeholder="Mot de Passe"
                   class="form-control"><br>
            <input name="confirmation" type="password"
                   placeholder="Confirmer mot de passe"
                   class="form-control"><br>
            <div class="row">
                <div class="span6">
                    <a href="{% url 'index' %}">
                        <input type="button" value="Retour" style="color: white; background: #ff7a00; border-radius: 5px; width: 250px; height: 35px; font-size: 25px; margin-bottom: 10px; margin-top: 10px">
                    </a>
                    <button class="btn btn-large btn-primary">
                        S'inscrire
                    </button>
                </div>
            </div>
        </div>
        </form>
    </section>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" style="text-align: center; margin-top: -75px">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
