{% extends "header.html" %}

{% block body %}
<div style="border: 1px solid grey; margin: 50px 450px 50px 450px; text-align: center">
    <h2>Modifier votre ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <div>
                <h2>Titre :</h2>
                <h2 style="text-align: center">{{ form_ticket.title }}</h2>
                <h2>Description :</h2>
                {{ form_ticket.description }}

                <br>
                <img style="margin-top: 10px; margin-bottom: 10px" src="{{ ticket.image.url }}"
                     widht="300px" height="300px"><br>
                {{ form_ticket.image }}
                {{ form_ticket.user.as_hidden }}
            </div>
        </div>
        <div>
            <button style="color: white; background: #ff7a00; border-radius: 5px; width: 200px; height: 40px; font-size: 20px; margin-bottom: 10px; margin-top: 10px">Envoyer</button>
        </div>
    </form>
</div>
{% endblock %}