{% extends "header.html" %}

{% block body %}
<div style="border: 1px solid grey; margin: 50px 450px 50px 450px; text-align: center">
    <h2>Modifier votre critique :</h2>

    <div style="border: 1px solid grey; margin: 20px">
        <div>
            <h2>Vous êtes en train de poster en réponse à:</h2>
            <div style="border: 1px solid grey; margin: 30px">
                <p style="font-weight: bold">{{ review.ticket.user }}
                    a demandé une critique :</p>
                <p>{{ review.ticket.title }}</p>
                <p>{{ review.ticket.description }}</p>
                <img style="margin-bottom: 10px" src="{{ review.ticket.image.url }}"
                     widht="300px" height="300px">
            </div>
        </div>


        <form method="post">
            {% csrf_token %}
            <div >
                <div>
                    <p style="font-weight: bold">Titre :</p>
                    {{ form_review.headline }}
                    <p style="font-weight: bold">Commentaire :</p>
                    {{ form_review.body }}
                    <p style="font-weight: bold">Note :</p>
                    {{ form_review.rating }}
                    {{ form_review.ticket.as_hidden }}
                    {{ form_review.user.as_hidden }}
                </div>
                <button style="color: white; background: #ff7a00; border-radius: 5px; width: 200px; height: 40px; font-size: 20px; margin-bottom: 10px; margin-top: 10px">Envoyer</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}